In [1]:
import pandas as pd

In [2]:
my_data = pd.read_csv('C:/Users/user/Downloads/Sample.csv')

In [3]:
my_data.head()

   s/n               item   Available Quantity   Price per quantity(N)
0   1.0              Sugar                131.0                    50.0
1   2.0     Bread (sliced)                311.0                   200.0
2   3.0   Bread (unsliced)                229.0                   150.0
3   4.0                Egg                545.0                    50.0
4   5.0  Three crown (tin)                201.0                   150.0

In [5]:
my_data.columns = ['s/n','item','AQ','PPQ']

Mr Adamu has a retail market where he sells daily basic food items. The table below shows
the items, available quantity and prices.
a. As a python developer you were told to develop a python program that keeps in
check stock details, pricing and others. Let your program have the following basic
functionality (note: you can add your own):
1. An inbuilt function for admin to change the price of any of the items.
2. An inbuilt function for admins to add more items.
3. An inbuilt function to compute goods purchased per customer and displays a receipt for printing.

a. The function must be able to add 20% VAT for customers buying less
than 5 items.
b. 30% VAT for customers buying more than 10 items.
c. N800 bonus goods for customers purchasing more than 10 items with
the least amount being N100.
4. An inbuilt function that updates stock after an item has been purchased.
5. An inbuilt function that takes record of total gain per day.
b. Write a test program, that communicates with the buyer, taking note of the following:
    i. Displays the available items.
    ii. Their corresponding price.
    iii. Receives items customers want to buy, and their corresponding quantities.
    iv. Computes their total payment.
    v. Finally display to the customers, a receipt (with the item purchased, quantity, corresponding prices and total price). Also display discounts (if any).

### An inbuilt function for admin to change the price of any of the items

In [6]:
def change_price(data, item_col_name, item_name, new_price, price_col_name):
    data.loc[data[item_col_name]==item_name,price_col_name] = new_price
    return data.loc[data[item_col_name]==item_name]

In [ ]:
my_data.loc[my_data['item']=='Sugar',"PPQ"]=50

In [8]:
change_price(my_data, 'item', 'Sugar', 100, 'PPQ')

   s/n   item     AQ    PPQ
0  1.0  Sugar  131.0  100.0

### An inbuilt function for admins to add more items.

In [10]:
def add_item(data):
    item_names = list(data.columns)
    next_index = max(data[item_names[0]])+1
    item_list = [next_index]
    for values in item_names[1:]:
        value = eval(input('Enter ' + values +': '))
        item_list.append(value)
    data.loc[next_index-1]  = item_list
    return data.tail()

In [ ]:
 add_item(my_data)

In [ ]:
 item_names = list(my_data.columns)
next_index = max(my_data.iloc[:,0:])+1
item_list = [next_index]
for values in item_names[1:]:
    value = eval(input('Enter ' + values +': '))
    item_list.append(value)
 df.loc[next_index-1]  = item_list

### An inbuilt function that updates stock after an item has been purchased.

In [ ]:
def update_stock(data,item_col_name,qty_col_name):
    while True:
        response = eval(input('Do you want to enter an item, y/n? : '))
        if response == 'y':
            item_name = input('Enter the name of the item: ')
            item_qty = eval(input('Enter the quantity of the item: '))
            data.loc[data[item_col_name]==item_name,qty_col_name] = data.loc[data[item_col_name]==item_name,qty_col_name] - item_qty
        else:
            break

In [ ]:
update_stock(my_data,'item','AQ')

Do you want to enter an item, y/n? : 'y'
Enter the name of the item: 'Iyiola'
Enter the quantity of the item: 20
Do you want to enter an item, y/n? : 'n'
Do you want to enter an item, y/n? : 'n'

In [6]:
my_data.tail()

     s/n            item     AQ    PPQ
25  26.0    Sprite (big)  956.0  150.0
26  27.0     Pepsi (big)  374.0  150.0
27  28.0     Fanta (big)  267.0  150.0
28  29.0  Lacasera (big)  786.0  150.0
29  30.0      Coke (big)  546.0  150.0

In [60]:
my_data.loc[my_data['item']=='Adetoro','AQ'] = my_data.loc[my_data['item']=='Adetoro','AQ'] - 2
t

In [21]:
item_list

[31.0, 'Iyiola', 140, 100]

An inbuilt function that updates stock after an item has been purchased.

In [37]:
max(my_data['s/n'])

30.0

In [ ]:
item_names = list(my_data.columns)
for values in item_names[1:]:
     value = eval(input('Enter ' + values +': '))

In [5]:
my_data = my_data.iloc[:30,:]

In [19]:
my_data['s/n']

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
Name: s/n, dtype: float64

In [59]:
my_data.head()

   s/n               item     AQ    PPQ
0  1.0              Sugar  131.0  100.0
1  2.0     Bread (sliced)  311.0  200.0
2  3.0   Bread (unsliced)  229.0  150.0
3  4.0                Egg  545.0   50.0
4  5.0  Three crown (tin)  201.0  150.0